<footer class="footerContainer">
    <div class="col1">
        <img src="whiteLogo.png" alt="whitelogo">
        <p>In the new era of technology we look a in the future with certainty and pride to for our company and.</p>
        <div class="socialmedia">
            <a href="#"><img src="1.png" alt="twitter"></a>
            <a href="#"><img src="2.png" alt="facebook"></a>
            <a href="#"><img src="3.png" alt="instagram"></a>
            <a href="#"><img src="4.png" alt="github"></a>
        </div>
    </div>
    <div class="col2">
        <h3>Pages</h3>
        <ul class="listitems">
            <li class="listitem"><a routerLink="">Home</a></li>
            <li class="listitem"><a routerLink="/about">About</a></li>
            <li class="listitem"><a routerLink="/menu">Menu</a></li>
            <li class="listitem"><a routerLink="#">Pricing</a></li>
            <li class="listitem"><a routerLink="#">Blog</a></li>
            <li class="listitem"><a routerLink="/contact">Contact</a></li>
            <li class="listitem"><a routerLink="#">Delivery</a></li>

        </ul>
    </div>
    <div class="col3">
        <h3>Follow Us On Instagram</h3>
        <div class="insta">
            <img src="Mask group.png" alt="insta1">
            <img src="Mask group-1.png" alt="insta2">
            <img src="Mask group-2.png" alt="insta3">
            <img src="eiliv-aceron-d5PbKQJ0Lu8-unsplash 1.png" alt="insta4">
    </div>
</div>