<section>
    <div class="container">
      <form (ngSubmit)="login()">
        <div class="row1">
          <div class="oneI">
            <p>Email</p>
            <input type="email" placeholder="Enter Your Email" name="email" [(ngModel)]="loginData.email" required>
          </div>
          <div class="oneI">
            <p>Password</p>
            <input type="password" placeholder="Enter Your password" name="password" [(ngModel)]="loginData.password" required>
          </div>
        </div>
        <input type="submit" value="Login">
      </form>
      <p>Not registered yet? <a routerLink="/register">Register Now</a></p>
    </div>
  </section>