<section>
  <div class="heading">
    <h1>Contact Us</h1>
    <p>
      We consider all the drivers of change gives you the components you need to
      change to create a truly happens.
    </p>
  </div>
  <div class="contactForm">
    <div class="row1">
      <div class="input1">
        <h3>Name</h3>
        <input type="text" id="name" placeholder="Enter your name" />
      </div>
      <div class="input1">
        <h3>Email</h3>
        <input type="email" id="email" placeholder="Enter email address" />
      </div>
    </div>

    <div class="row2">
      <h3>Subject</h3>
      <input type="text" id="subject" placeholder="Write a subject" />
    </div>
    <div class="row3">
      <h3>Message</h3>
      <input type="text" id="message" placeholder="Write your message" />
    </div>

        <button>
            Send
        </button>

  </div>
</section>
