<div class="container">
    <div class="logo">
        <a routerLink=""><img src="Logo.png" alt="logo"></a>
    </div>
    <div class="middle">
        <ul class="listItems">
            <li class="listItem"> <a routerlink="">Home</a></li>
            <li class="listItem"> <a routerlink="#">About</a></li>
            <li class="listItem"> <a routerlink="#">Menu</a></li>
            <li class="listItem"> <a routerlink="#">Pages</a></li>
            <li class="listItem"> <a routerlink="#">Contact</a></li>
        </ul>
    </div>
    <div class="bookTable">
        <a routerlink="tableform/"><button>Book A Table</button></a>
    </div>
</div>
