<div class="container">
    <div class="logo">
        <a routerLink=""><img src="Logo.png" alt="logo"></a>
    </div>
    <div class="middle">
        <ul class="listItems">
            <li class="listItem"> <a routerLink="" routerLinkActive = "active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
            <li class="listItem"> <a routerLink="/about" routerLinkActive = "active" >About</a></li>
            <li class="listItem"> <a routerLink="/menu" routerLinkActive = "active">Menu</a></li>
            <li class="listItem"> <a routerLink="/contact" routerLinkActive = "active">Contact</a></li>
        </ul>
    </div>
    <div class="bookTable">
        @if (!isLogged) {
        <a routerLink="/login" routerLinkActive = "active">Login</a>
        }@else if (isLogged) { 
        <a routerLink="/tableform" routerLinkActive = "active">Book A Table</a>
    }
    </div>
</div>
