<div class="container">
    <div class="logo">
        <img src="Logo.png" alt="logo">
    </div>
    <div class="middle">
        <ul class="listItems">
            <li class="listItem"> <a href="#">Home</a></li>
            <li class="listItem"> <a href="#">About</a></li>
            <li class="listItem"> <a href="#">Menu</a></li>
            <li class="listItem"> <a href="#">Pages</a></li>
            <li class="listItem"> <a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="bookTable">
        <a href="#"><button>Book A Table</button></a>
    </div>
</div>
