<section class="home-containter">
  <div class="hero">
    <!-- <img src="home/image110.png" alt="hero"> -->

    <div class="hero-content">
      <h1>Best food for your taste</h1>
      <p>
        Discover delectable cuisine and unforgettable moments in our welcoming,
        culinary haven.
      </p>
      <div class="buttons">
        <a routerLink="/tableform" class="btn table">Book a table</a>
        <a routerLink="/menu" class="btn menu">Explore menu</a>
      </div>
    </div>
  </div>
  <div class="menu-section">
    <h1>Browse Our Menu</h1>
    <div class="cardcontainer">
      <div class="card breakfast">
        <img src="home/breakfast.png" alt="bf icon" />
        <h3>Breakfast</h3>
        <p>
          In the new era of technology we look in the future with certainty and
          pride for our life.
        </p>
        <a routerLink="/menu">Explore Menu</a>
      </div>
      <div class="card breakfast">
        <img src="home/main.png" alt="" />
        <h3>Main Dishes</h3>
        <p>
          In the new era of technology we look in the future with certainty and
          pride for our life.
        </p>
        <a routerLink="/menu">Explore Menu</a>
      </div>
      <div class="card breakfast">
        <img src="home/drinks.png" alt="" />
        <h3>Drinks</h3>
        <p>
          In the new era of technology we look in the future with certainty and
          pride for our life.
        </p>
        <a routerLink="/menu">Explore Menu</a>
      </div>
      <div class="card breakfast">
        <img src="home/desserts.png" alt="" />
        <h3>Desserts</h3>
        <p>
          In the new era of technology we look in the future with certainty and
          pride for our life.
        </p>
        <a routerLink="/menu">Explore Menu</a>
      </div>
    </div>
  </div>

  <div class="about-section">
    <div class="content-container">
      <div class="image-container">
        <img class="image1" src="home/aboutBack.png" alt="back" />
        <img class="image2" src="home/aboutCard.png" alt="front" />
      </div>
      <div class="text-container">
        <h1>We provide healthy food for your family.</h1>
        <h4>
          Our story began with a vision to create a unique dining experience
          that merges fine dining, exceptional service, and a vibrant ambiance.
          Rooted in city's rich culinary culture, we aim to honor our local
          roots while infusing a global palate.
        </h4>
        <p>
          At place, we believe that dining is not just about food, but also
          about the overall experience. Our staff, renowned for their warmth and
          dedication, strives to make every visit an unforgettable event.
        </p>
        <a routerLink="/about">More About Us</a>
      </div>
    </div>
  </div>

  <div class="service">
    <div class="serviceText">
      <h1>We also offer unique services for your events</h1>
    </div>
    <div class="cardsContainer">
      <div class="ServicesCard">
        <img src="home/Cartrings.png" alt="">
        <h3>Caterings</h3>
        <p>In the new era of technology we look in the future with certainty for life.</p>
      </div>
      <div class="ServicesCard">
        <img src="home/birthdays.png" alt="">
      
        <h3>Birthdays</h3>
        <p>In the new era of technology we look in the future with certainty for life.</p>
      </div>
      <div class="ServicesCard">
        <img src="home/wedding.png" alt="">
        <h3>Weddings</h3>
        <p>In the new era of technology we look in the future with certainty for life.</p>
      </div>
      <div class="ServicesCard">
        <img src="home/events.png" alt="">
        <h3>Events</h3>
        <p>In the new era of technology we look in the future with certainty for life.</p>
      </div>
    </div>
  </div>

</section>
