<section>
  <div class="container">
    <form (ngSubmit)="sendData()">
      <div class="row1">
        <div class="oneI">
          <p>UserName</p>
          <input type="text" placeholder="Enter Your user name" name="userName" [(ngModel)]="registerData.userName" />
        </div>
        <div class="oneI">
          <p>Email</p>
          <input type="email" placeholder="Enter Your Email" name="email" [(ngModel)]="registerData.email" />
        </div>
        <div class="oneI">
            <p>Password</p>
            <input type="password" placeholder="Enter Your password" name="password" [(ngModel)]="registerData.password" />
          </div>
        
          <div class="oneI">
            <p>Phone</p>
            <input type="text" placeholder="Enter Your Phone" name="phone" [(ngModel)]="registerData.phone"/>
          </div>
      </div>
        <input type="submit" value="Register">
    </form>
  </div>
</section>

